<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <title>Enrutador de Imagenes DICOM</title>
</head>
<body>
    <h1>ENRUTADOS DE IMAGENES DICOM</h1>
    <img src="Captura.PNG" alt="Imagen ilustrativa">
    <div>
        <h2>TIPO DE SERVICIO</h2>
        <h3>
            <a href="http://127.0.0.1:5500/primera/segunda/index2.html">ADMINISTRADOR</a>
        </h3>
        <h3>
            <a href="http://127.0.0.1:5500/primera/tercera/index3.html">USUARIO</a>
        </h3>
    
    </div>
    <footer>
        Derechos reservados 2021
    </footer>
</body>
</html>